@{
    ViewData["Title"] = "Home Page";
}

<h1><strong>This is the heading for the following paragraph</strong></h1>
<h2>I happen to be the body of this website.and I happen to be the BI mastermind</h2>
<p>This happens to be the paragraph that is associated to a particular header</p>
<div class="text-center">
    <h1 class="display-4">Welcome Everyone to our website</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
