@{
    ViewData["Title"] = "Home Page";
}

<h1>I am a Title</h1>
<h2>I happen to be the body of this website.and I happen to be the BI mastermind because I cant read</h2>
<div class="text-center">
    <h1 class="display-4">Welcome Everyone to our website</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
