@{
    ViewData["Title"] = "Home Page";
}

<h1><strong>Heading One</strong></h1>
<h2>This is the very first paragraph</h2>
<div class="text-center">
    <h1 class="display-4">Welcome Everyone to our website</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
